# Chi - Square Test

In [43]:
import pandas as pd
import scipy.stats

In [44]:
df = pd.read_excel(r"C:\Users\sunny\Desktop\DS Material\Data Set\Chi Square  Data set.xlsx", )

In [45]:
df

   Gender  Like Shopping
0     Male            No
1     Male           Yes
2   Female           Yes
3     Male            No
4   Female           Yes
5     Male            No
6     Male           Yes
7   Female           Yes
8     Male            No
9   Female           Yes
10  Female            No
11  Female           Yes
12  Female            No
13  Female           Yes

In [46]:
contingency_table = pd.crosstab(df['Gender '],df['Like Shopping'])

In [47]:
contingency_table

Like Shopping  No  Yes
Gender
Female          2    6
Male            4    2

In [48]:
#Observed Values
Observed_Values = contingency_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[2 6]
 [4 2]]

In [59]:
# Expected Values = If the null hypothesis is become true what could b the frequeencies
b = scipy.stats.chi2_contingency(contingency_table)

Expected_values= b[3]

In [50]:
Expected_values

array([[3.42857143, 4.57142857],
       [2.57142857, 3.42857143]])

In [51]:
#Degree of Freedom
# degree of freedom = df= (no of rows - 1)*(no of columns -1)
no_of_rows=len(contingency_table.iloc[0:2,0])
no_of_columns=len(contingency_table.iloc[0,0:2])
df=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",df)

Degree of Freedom:- 1

In [52]:
#Significance Level 5%
alpha=0.05

In [54]:
#chi-square statistic - Ï‡2
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_values)])
chi_square_statistic=chi_square[0]+chi_square[1]
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 2.4305555555555554

In [55]:
#critical_value
critical_value=chi2.ppf(q=1-alpha,df=df)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [56]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=df)
print('p-value:',p_value)

p-value: 0.11899072089312412

In [57]:
print('Significance level: ',alpha)
print('Degree of Freedom: ',df)
print('chi-square statistic:',chi_square_statistic)
print('critical_value:',critical_value)
print('p-value:',p_value)

Significance level:  0.05
Degree of Freedom:  1
chi-square statistic: 2.4305555555555554
critical_value: 3.841458820694124
p-value: 0.11899072089312412

In [58]:
#compare chi_square_statistic with critical_value and p-value which is the probability of getting chi-square>0.09 (chi_square_statistic)
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables